body{
    font-size: 20px;
}

#dl_container{
    position:relative;
    width:30%;
    height:50%;
    top:25%;
    left:35%;
    background-color:lightgray;
    text-align:center;
}

#dl_container h1{
    font-size:1.6rem;
    color:GrayText;
}

dd:nth-child(2):before{
    content:' \25CF';
    font-size: 25px;
    color:green;
}

dt{
    float: left;
    font-style:italic;
}

dt:not(:first-child){
    float: left;
    margin-top:20px;
}

dd {
    margin-left :9em;
}
.desc{
    margin-top:20px;
}
#red_name_info{
    color:red;
    font-weight:bold;
}
.yellow{
    color: #EFFCB1;
}
.gray{
    color:gray;
}
.orange{
    color:orange;
    font-weight:bold;
}