<?xml version="1.0"?>

<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->

<configuration>
    <system.web>
      <compilation debug="true" targetFramework="4.5" />
      <httpRuntime targetFramework="4.5" />

      <siteMap enabled="true">
        <providers>
          <clear/>
          <add siteMapFile="Web.sitemap"
               name="AspNetXmlSiteMapProvider"
               type="System.Web.XmlSiteMapProvider"
               securityTrimmingEnabled="true"/>
        </providers>
      </siteMap>
      
      
      
    </system.web>


</configuration>
