#login-form
    h1 Login
    form(name=register action='/login' method='POST')
        input(id='usrName',type='text',placeholder='username',name='username')
        input(id='pswd',type='text',placeholder='Password',name='password')
        button(type='submit')
            |Login


